<h1><%= @game.title %></h1>
<p>Description: <%= @game.description %></p>
</p>Rating: <%= @game.rating %></p>
<img src="<%= @game.image_url %>" alt="<%= @game.title %>">

<!-- Delete Button -->
<form action="/games/<%= @game.id %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<input type="submit" value="Delete This Game">
</form>

<h2>Reviews:</h2>
