<h1>Create your new reservation!</h1>

<% if @reservation.errors.any? %>
	<ul>
	<% @reservation.errors.full_messages.each do |error| %>
		<li><%= error %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @reservation do |f| %>

	<%= f.label :date %>
	<%= f.date_field :date %>

	<%= f.label :party_size %>
	<%= f.number_field :party_size %>

	<%= f.collection_select :restaurant_id, Restaurant.all, :id, :name %>
	<%= f.collection_select :customer_id, Customer.all, :id, :name %>

	<%= f.submit "Create your reservation NOW!" %>

<% end %>